
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
}

.main-heading {
    font-size: 4em;
    font-weight: bold;
    color: white;
    margin: 0.5em 0;
}

.sub-heading {
    font-size: 1.5em;
    color: white;
    margin-bottom: 2em;
}

// h1 {
//     font-size: 3em;
//     margin-bottom: 0.5em;
// }

// p {
//     font-size: 1.2em;
//     margin-bottom: 1.5em;
// }

.create-id-button {
    background-color: #0078D4;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.create-id-button:hover {
    background-color: #005a9e;
}

.service-intro {
    background-color: #002d72;
    color: white;
    padding: 30px;
    width: 100%;
    margin-top: 2em;
}

.footer {
    margin-top: 2em;
    color: white;
    padding: 20px;
}